{% extends 'forms.html' %}

{% block title %} Change Password {% endblock %}

{% block body %}

<section class="base" id="base-change-password">
    <div class="base-content">
        <div class="form">

            <h3>CHANGE PASSWORD</h3>
            <hr class="first">

            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="field">
                    <label>Current Password:</label>
                    {{ form.current_password }}
                </div>

                <div class="field">
                    <label>New Password:</label>
                    {{ form.new_password }}
                </div>

                <div class="field">
                    <label>Confirm New Password:</label>
                    {{ form.confirm_new_password }}
                </div>

                <div class="buttons">
                    <a href="{{ url_for('auth.profile', customer_id=current_user.id) }}">Back</a>
                    {{ form.change_password }}
                </div>

            </form>

        </div>
    </div>
</section>

{% endblock %}
